/* 
.topnav {
    padding-top: 20px;
    display: inline-block;
    padding-left: 15px;
    color: #000;
    opacity: 0.75;
}
body {
    text-align: center;
    color: #222;
    font-family: arial, sans-serif;
}

.footer {
    margin: 0px 0px 0px -27px;
    background: #f2f2f2;
    line-height: 40px;
    min-width: 980px;
    border-top: 1px solid #e4e4e4;

}

.main {
    height: 233px; 
    
    
}

.topnav About {
    display: inline-block;
    padding-left: 15px;
    color: #000;
    opacity: 0.75;
} */

#box-container {
    height: 700px;
    flex-direction: column;
    display: flex;
    text-align: center;
    overflow: hidden;
     
    
}

body {
    font-family: Arial; 
    font-size: 18px;
    align-items: center;
    margin: auto;
    padding: 10px; 
    flex: 1 100%;
    background: White;
    
}


header {
    /* margin: auto; */
    display: flex;
    font-size: 13px;
    padding: 15px; 
    margin-top: 10px;
    flex-direction: row;

}
ul {
    list-style: none;
}
.main {
    width: 100%; 
    height: 80%;
    align-items: center;
    
}

.main button {
    font-size: 14px; 
    background-color: #F2F2F2;
    border: none;
    border-radius: 3px;
    color: rgb(95, 99, 104);
    height: 35px; 
    padding: 0px 18px;
    margin: 0px 4px;
}

.main button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    /* border: 1px; 
    font-style: bold;  */
}   


#logo {
    display: block;
    justify-content: center;
    width: 272px; 
    padding-top: 109px;
    padding-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
}

.search-bar #bar { 
    display: flex;
    margin: 20px auto;
    padding: 0px 0px 0px 13px;
    width: 486px;
    height: 40px;
    border: 1px; 
    border-radius: 20px; 
    border-style: solid;
    border-color: rgb(223, 225, 229);
}

footer {
    width: 100%;
    height: 42px;
    max-width: 100%;
    min-width: 980px;
    background-color: rgb(242, 242, 242);
    position: fixed;
    bottom: 0;
    font-size: 14px; 
    display: block;
    margin: 0;
    padding: 0; 
    border: 0;
    /* vertical-align: baseline; */
}

input{    
    background: url("http://kodyrabatowe.wp.pl/img/ico/search_gr.png") top left     no-repeat;
    height:30px;
    padding-left:25px;   
    }